fastapi~=0.115.12
uvicorn[standard]
torch~=2.7.1
torchvision~=0.22.1
Pillow~=11.2.1
matplotlib~=3.9.4
numpy~=2.0.2
sentence-transformers==2.2.2
langchain~=0.3.25
flask
pypdf
python-dotenv~=1.1.0
pinecone-client[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain-experimental
langchain-google-genai
google-generativeai
opencv-python~=4.11.0.86
sqlmodel
psycopg2
sqlalchemy
pydantic
passlib
pydantic[email]
bcrypt